.form-group
  = f.label :name,class: "col-sm-2 control-label"
  .col-sm-6
    = f.text_field :name, :autofocus => true,placeholder: "Enter your name",class: 'form-control' 
.form-group
  = f.label :email,class: "col-sm-2 control-label"
  .col-sm-6
    = f.email_field :email,placeholder:"Enter a valid email", class: 'form-control'
.form-group
  = f.label :gender, "Gender",class: "col-sm-2 control-label"
  .col-sm-6
    = f.select :gender, User::GENDER_TYPES, class: 'form-control'
.form-group
  = f.label :date_of_birth,class: "col-sm-2 control-label"
  .col-sm-6
    = f.date_select :date_of_birth ,:start_year=>1920 , class: 'form-control'
.form-group
  = f.label :address_street, "Street",class: "col-sm-2 control-label"
  .col-sm-6
    = f.text_field :address_street ,placeholder:"Enter street number and name", class: 'form-control'
.form-group
  = f.label :address_city, "City",class: "col-sm-2 control-label"
  .col-sm-6
    = f.text_field :address_city ,placeholder: "Enter city", class: 'form-control'
.form-group
  = f.label :address_state, "State",class: "col-sm-2 control-label"
  .col-sm-6
    = f.text_field :address_state , disabled: true, value: "California", class: 'form-control'
.form-group 
  = f.label :address_zip_code, "Zip Code",class: "col-sm-2 control-label"
  .col-sm-6
    = f.number_field :address_zip_code , maxlength: 5, placeholder:"Enter Zip Code", class: 'form-control'
.form-group 
  = f.label :phone_number, "Phone number",class: "col-sm-2 control-label"
  .col-sm-6
    = f.text_field :phone_number ,  placeholder:"Enter phone number", class: 'form-control'
.form-group 
  = f.label :bio, "Bio",class: "col-sm-2 control-label"
  .col-sm-6
    = f.text_area :bio , size: "60x12",placeholder: "Enter a short bio", class: 'form-control'
