= div_for(comment) do
  .comments_wrapper.clearfix
    .pull-left
      %h4= comment.body
      %cite.small
        Submitted
        %strong
          = time_ago_in_words(comment.created_at)
          ago
        by 
        =link_to "#{comment.user.name}", user_path(comment.user)
    .btn-group.pull-right
      - if comment.user == current_user
        = link_to [@pitch, comment], method: :delete, data: { confirm: 'Are you sure?' } do
          .fa.fa-trash.fa-lg.icon-danger