
<%= render 'shared/errors', obj: @pitch %>

<div class = 'well'>
<%= form_for @pitch do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br/>
  <%= f.label :media %>
  <%= f.select :media, Pitch.media_types %>
  <br/>
  <%= f.label :category %>
  <%= f.select :category, Pitch.categories %>
  <br/>
  <%= f.label "Description" %>
  <%= f.text_area :text, size: "74x3" %>
  <br/>

  <%= f.submit("Submit/Update Pitch", class: 'btn btn-primary') %>
<% end %>
</div>
