= simple_form_for @pitch, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    = render 'shared/errors', obj: @pitch
    .form-group
      = f.label :name
      = f.text_field :name, :class => "form-control" 
    .form-group
      = f.label :media
      = f.select :media , Pitch.media_types, :class => "form-control"
      %br/
      = f.label :category 
      = f.select :category, Pitch.categories , :class => "form-control" 
    .form-group
      = f.label :description
      = f.text_area :description, :class => "form-control" 
  .form-actions
    = f.submit  'Submit/Update Pitch', :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), pitches_path, :class => 'btn'
