= simple_form_for @pitch, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :media
  = f.input :category
  = f.input :text
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), pitches_path, :class => 'btn'
