= simple_form_for @pitch, :html => { :class => 'form-horizontal' } do |f|
  %fieldset
    = render 'shared/errors', obj: @pitch
    .form-group
      = f.label :name,class: "col-sm-2 control-label"
      .col-sm-6
        = f.text_field :name, :class => "form-control" 
    .form-group
      = f.label :media,class: "col-sm-2 control-label"
      .col-sm-6
        = f.select :media , Pitch.media_types, :class => "form-control"
    .form-group
      = f.label :category ,class: "col-sm-2 control-label"
      .col-sm-6
        = f.select :category, Pitch.categories , :class => "form-control" 
    .form-group
      = f.label :description,class: "col-sm-2 control-label"
      .col-sm-6
        = f.text_area :description,size: "60x6", :class => "form-control" 
  .form-actions
    .col-sm-6.col-sm-offset-2
      = f.submit  'Submit/Update Pitch', :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), pitches_path, :class => 'btn'
