%h1 Edit a Pitch

= form_tag pitches_path(@pitch), :method => :put do

  = label :pitch, :name, 'Name'
  = text_field :pitch, 'name'

  = label :pitch, :media, 'Media'
  = select :pitch, :media, ['Video','Audio','Written']

  = label :pitch, :category, 'Category'
  = select :pitch, :category, ['Arts','Sports','Political','Current Events']

  = label :pitch, :text, 'Description'
  = text_area :text, size: "60x12",placeholder: "Enter a short description"

  = submit_tag 'Update Pitch'
