.list-group
  - @pitches.each do |pitch|
    %li.list-group-item
      %blockquote
        %h1
          = link_to pitch.name, pitch
        %small
          Submitted #{time_ago_in_words(pitch.created_at)} by 
          %cite #{pitch.user.name}
      %p.lead
        #{pitch.text}
      %p
        #{pitch.category}, #{pitch.media}
      .btn-group
        = link_to like_pitch_path(pitch), method: :put, class: "btn btn-default btn-sm" do
          %span.glyphicon.glyphicon-chevron-up
          Upvote
          \ #{pitch.get_upvotes.size}
        = link_to dislike_pitch_path(pitch), method: :put, class: "btn btn-default btn-sm" do
          %span.glyphicon.glyphicon-chevron-down
          Downvote
          \#{pitch.get_downvotes.size}
     
