.list-group
  .btn-group
    = link_to_if(session[:sort] != "recent", "Most Recent", { action: "index", sort: "recent" })
    = link_to_if(session[:sort] != "top", "Top Voted", { action: "index", sort: "top" })
  %br
  - @pitches.each do |pitch|
    %li.list-group-item
      %blockquote
        %a
          = link_to pitch.name, pitch
        %small
          Submitted #{time_ago_in_words(pitch.created_at)} by 
          %cite #{pitch.user.name}
      %p.lead
        #{pitch.text}
      %cite
        #{pitch.category}, #{pitch.media}
      //- if not @disc_disabled
      %br/
      .btn-group
        = link_to like_pitch_path(pitch), method: :put do
          .btn-group
            .fa.fa-thumbs-up.fa-lg.icon-success
            %span.badge
              \#{pitch.get_upvotes.size}
        = link_to dislike_pitch_path(pitch),  method: :put do
          .btn-group
            .fa.fa-thumbs-down.fa-lg.icon-danger
            %span.badge
              \#{pitch.get_downvotes.size}
      .active
        %br/
        %a
          %span.badge
            = pitch.comments.count
          = link_to "Comments", pitch
     
