.list-group#pitches-list
  .btn-group
    = link_to_if(session[:sort] != "recent", "Most Recent", { action: "index", sort: "recent" }, id: "most-recent")
    = link_to_if(session[:sort] != "top", "Top Voted", { action: "index", sort: "top" },id: "top-voted")
  %br
  - @pitches.each do |pitch|
    %li.list-group-item#pitch-item
      %blockquote
        = link_to pitch.name, pitch, :id => "pitch-link" 
        %small
          Submitted #{time_ago_in_words(pitch.created_at)} by 
          %cite #{pitch.user.name}
      %p.lead
        #{pitch.description}
      %cite
        #{pitch.category}, #{pitch.media}
      -if not @disc_disabled
        %br/
        .btn-group
          = link_to like_pitch_path(pitch), method: :put, id: ("vote-up" << pitch.id.to_s) do
            .btn-group
              .fa.fa-thumbs-up.fa-lg.icon-success
              %span.badge#num-voteup
                \#{pitch.get_upvotes.size}
          - if user_signed_in? && current_user.voted_up_on?(pitch)
            = link_to dislike_pitch_path(pitch),  method: :put, id: ("vote-down" << pitch.id.to_s) do
              .btn-group
                .fa.fa-thumbs-down.fa-lg.icon-danger
        .active.pull-right
          %span.badge
            = pitch.comments.count
          = link_to "Comments", pitch
  = will_paginate @pitches
     
