%p#notice= notice

%p
  %b Name:
  = @pitch.name
%p
  %b Type:
  = @pitch.type
%p
  %b Category:
  = @pitch.category
%p
  %b Text:
  = @pitch.text

= link_to 'Edit', edit_pitch_path(@pitch)
\|
= link_to 'Back', pitches_path
