%td
  = link_to user.email, user
- unless user == current_user
  %td
    = form_for(user, {:html => { :class => "form-horizontal" }}) do |f|
      %fieldset
        = f.select(:role, User.roles.keys.map {|role| [role.titleize,role]},{}, { :class => 'control-label'})
        = f.submit 'Change Role', :class => 'btn btn-primary btn-xs', :id => 'changeRole' + user.id.to_s 
  %td
    = form_for(user) do |f|
      = f.hidden_field :suspended, :value => false
      = f.label :suspended,class: "control-label"
      = f.check_box :suspended,{}, true, false
      = f.submit 'Change', :class => 'btn btn-primary btn-xs', :id => 'suspendUser' + user.id.to_s
  %td
    = link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger btn-xs', :id => 'deleteUser' + user.id.to_s) 
