= form_tag '/schedule' do
  %h2
    Scheduling
  %p 
    Iterations start on Monday at 
    %select{:name => "start_hour"}
      -@hours.each do |i|
        %option{:value => i.to_i, :selected => (i.to_i == Schedule.iter_start_hour)} #{i}
    \:
    %select{:name => "start_min"}
      -@minutes.each do |i|
        %option{:value => i.to_i, :selected => (i.to_i == Schedule.iter_start_min)} #{i}
    %select{:name => "start_ampm"}
      -@ampm.each do |i|
        %option{:value => i, :selected => (i == Schedule.iter_start_ampm)} #{i}
  %p
    Iterations end the next Monday at 
    %select{:name => "end_hour"}
      -@hours.each do |i|
        %option{:value => i.to_i, :selected => (i.to_i == Schedule.iter_end_hour)} #{i}
    \:
    %select{:name => "end_min"}
      -@minutes.each do |i|
        %option{:value => i.to_i, :selected => (i.to_i == Schedule.iter_end_min)} #{i}
    %select{:name => "end_ampm"}
      -@ampm.each do |i|
        %option{:value => i, :selected => (i == Schedule.iter_end_ampm)} #{i}
  %p
    Submissions are picked the next Tuesday at
    %select{:name => "sub_hour"}
      -@hours.each do |i|
        %option{:value => i.to_i, :selected => (i.to_i == Schedule.sub_pick_hour)} #{i}
    \:
    %select{:name => "sub_min"}
      -@minutes.each do |i|
        %option{:value => i.to_i, :selected => (i.to_i == Schedule.sub_pick_min)} #{i}
    %select{:name => "sub_ampm"}
      -@ampm.each do |i|
        %option{:value => i, :selected => (i == Schedule.sub_pick_ampm)} #{i}

  %input{:name => "commit", :type => "submit", :value => "Save changes", :id => "update_scheduling"}