= form_tag '/schedule' do
  %h2
    Scheduling
  %p 
    Starting on Mondays, iterations will last 
    %input{:name => "schedule_days", :type => "text", :value => "#{Rails.application.config.schedule_days}"}
    days
  %p
    Pitches may be submitted until day (starting from 0)
    %br
    %input{:name => "pitch_day", :type => "text", :value => "#{Rails.application.config.pitch_day}"}
  %p
    Discussion may start on day
    %br
    %input{:name => "disc_day", :type => "text", :value => "#{Rails.application.config.disc_day}"}

  %h2
    Archival
  %p
    After
    %input{:name => "archive_days", :type => "text", :value => "#{Rails.application.config.archive_days}"}
    days, posts will automatically be archived.
    %br
    Users can still view the posts but may no longer vote or comment.
  = submit_tag